body{
    margin-top: 0;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    background-color: beige;
    padding: 20px 50px ;
    line-height: 0.8;
    box-shadow: 3px 5px 15px 3px #eee;
    background-color:#fff;
}
.container2 {
    margin-left: 40px;
    
}
h4{
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 40px;
}
p{
    font-size: 18px;
}
.desc {
    margin-top: 50px;
    line-height: 0.8;
}
.desc a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
@media screen and ( max-width: 500px) {
    .container {
        padding: 1px 1px;
        box-shadow: none;
        line-height: 1.5;
        font-size: 18px;
    }
    .container2 {
        margin-left: 10px;

    }
    h1 {
        font-size: 1.5em;
    }
    .desc {
        margin-top: 20px;
    }
    h4 {
        font-size: 20px;
    }

}
@media screen and ( min-width: 501px) and (max-width:1024px) {
    .container {
        padding: 1px 1px;
        box-shadow: none;
        line-height: 1.5;
        font-size: 20px;
    }
    .container2 {
        margin-left: 20px;

    }
    h1 {
        font-size: 1.7em;
    }
}